/* ----------------------------------------------------- */
/* Import CSS */
@import './normalize.css';

/* ----------------------------------------------------- */
/* Custom Properties */

:root {
  /* Color */

  --color--ios: 171 66% 44%;
  --color--mac: 233 100% 69%;
  --color--neutral-dark: 210 10% 33%;
  --color--neutral-light: 201 11% 66%;
  --color--white: 0 0% 100%;

  /* Font Family */

  --font-family: 'Bai Jamjuree', sans-serif;

  /* Font Weights */

  --fw--600: 600;
  --fw--400: 400;

  /* Font Sizes */

  --fs--900: 3.2rem;
  --fs--800: 2.6rem;
  --fs--700: 2.4rem;
  --fs--500: 1.8rem;
  --fs--400: 1.625rem;
  --fs--300: 1.615rem;
}

@media (min-width: 768px) {
  :root {
    --fs--500: 1.8rem;
    --fs--400: 1.625rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --fs--900: 4.32rem;
    --fs--800: 3.6rem;
    --fs--500: 1.825rem;
    --fs--400: 1.8rem;
  }
}

/* ----------------------------------------------------- */
/* CSS Reset */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('../images/bg-header-mobile.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;

  color: hsl(var(--color--neutral-light));
  font-family: var(--font-family);
  font-size: 1.8rem;
  font-weight: var(--fw--400);
  line-height: 1.8;
  text-align: center;

  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

h1 {
  line-height: 1.25;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  body {
    background-image: url('../images/bg-header-desktop.png');
  }
}

/* ----------------------------------------------------- */
/* Utility Classes */

/* Background Colors */

.bg--ios {
  background-color: hsl(var(--color--ios));
}

.bg--mac {
  background-color: hsl(var(--color--mac));
}

.bg--dark {
  background-color: hsl(var(--color--neutral-dark));
}

.bg--white {
  background-color: hsl(var(--color--white));
}

/* Font Colors */

.fc--ios {
  color: hsl(var(--color--ios));
}

.fc--dark {
  color: hsl(var(--color--neutral-dark));
}

.fc--light {
  color: hsl(var(--color--neutral-light));
}

.fc--white {
  color: hsl(var(--color--white));
}

/* Font Weights */

.fw--600 {
  font-weight: var(--fw--600);
}

.fw--400 {
  font-weight: var(--fw--400);
}

/* Font Sizes */

.fs--900 {
  font-size: var(--fs--900);
}

.fs--800 {
  font-size: var(--fs--800);
}

.fs--700 {
  font-size: var(--fs--700);
}

.fs--500 {
  font-size: var(--fs--500);
}

.fs--400 {
  font-size: var(--fs--400);
}

.fs--300 {
  font-size: var(--fs--300);
}

/* Layout */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  align-content: center;
}

.flex,
.grid {
  gap: var(--gap__row, 1rem) var(--gap__col, 1rem);
}

@media (min-width: 1024px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, minmax(50%, 1fr));
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ----------------------------------------------------- */
/* Buttons */

.btn-group {
  --gap__row: 2.4rem;
  margin: 5rem auto 0;
  max-width: 480px;
}

.btn {
  height: 56px;
  border-radius: 56px;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.btn--ios {
  box-shadow: 0 -3px hsl(171, 76%, 34%) inset, 0 4px 20px hsla(var(--color--ios) / 0.7);
}

.btn--mac {
  box-shadow: 0 -3px hsl(233, 80%, 54%) inset, 0 4px 20px hsla(var(--color--mac) / 0.7);
}

.btn--ios:hover,
.btn--ios:focus,
.btn--mac:hover,
.btn--mac:focus {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .btn-group {
    margin-block: 5rem 0;
    --gap__col: 1.6rem;
  }
}

/* ----------------------------------------------------- */
/* Blocks */

.container {
  max-width: 1174px;
  margin: 0 auto;
  padding-inline: 3.2rem;
}

.block {
  padding-block: 7rem;
}

.block__header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.block__header:not(:last-child) {
  margin-bottom: 8rem;
}

.block__heading {
  line-height: 1.2;
  margin-block: 1.6rem;
}

@media (min-width: 1024px) {
  .block {
    padding: 7.2rem 3.2rem;
  }
}

/* ----------------------------------------------------- */
/* Hero Block */

.block-hero .container {
  flex-direction: column;
  align-items: center;
}

.block-hero img {
  margin: 5rem auto 4rem;
  max-width: 125px;
}

.block-hero h1 {
  margin-bottom: 1.8rem;
}

@media (min-width: 768px) {
  .block-hero img {
    margin-block: 10rem 2.4rem;
  }
}

/* ----------------------------------------------------- */
/* Features Block */

.block-features .grid {
  justify-items: center;
}

.block-feature__image > img {
  width: 100%;
}

.features-group {
  max-width: 350px;
}

.feature {
  margin-block: 3.2rem;
}

@media (min-width: 768px) {
  .block-feature__image > img {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .block-features {
    padding-inline: 0;
  }

  .block-features .grid {
    padding-inline: 0;
    max-width: 100%;
    --gap__col: 0;
    justify-items: left;
    align-items: center;
  }

  .block-feature__image {
    justify-content: end;
    width: 50vw;
    height: 100%;
  }

  .block-feature__image > img {
    height: 572px;
    width: auto;
    max-width: 100vw;
  }

  .features-group {
    margin-left: 11rem;
    text-align: left;
  }
}

/* ----------------------------------------------------- */
/* Access Block */

.block-access > img {
  width: 100%;
}

@media (min-width: 768px) {
  .block-access {
    padding-bottom: 0;
  }

  .block-access > img {
    max-width: 900px;
    margin-top: 3rem;
  }
}

/* ----------------------------------------------------- */
/* Tools Block */

@media (min-width: 1024px) {
  .tools-group {
    justify-items: center;
    --gap__col: 3.4rem;
  }

  .tools-item {
    justify-items: center;
    grid-template-rows: 50px 50px 1fr;
  }
}

/* ----------------------------------------------------- */
/* Clients Block */

.block-clients {
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
}

.block-clients img {
  margin: 0;
}

@media (min-width: 768px) {
  .block-clients {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  .block-clients {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

/* ----------------------------------------------------- */
/* Footer */

.footer {
  background-color: hsl(220, 1%, 97%);
  margin-top: 10rem;
}

.footer .container {
  flex-direction: column;
  align-items: center;
  --gap__row: 4.8rem;
}

.footer__brand-img {
  max-width: 57px;
  aspect-ratio: 1;
}

.footer__links {
  --gap__row: 2rem;
}

.social-media {
  flex-direction: row;
  align-items: center;
  --gap__col: 4rem;
}

.social-media a {
  display: block;
  width: 24px;
  aspect-ratio: 1;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.icon--fb {
  -webkit-mask-image: url(/images/icon-facebook.svg);
  mask-image: url(/images/icon-facebook.svg);
}

.icon--tw {
  -webkit-mask-image: url(/images/icon-twitter.svg);
  mask-image: url(/images/icon-twitter.svg);
}

.icon--ig {
  -webkit-mask-image: url(/images/icon-instagram.svg);
  mask-image: url(/images/icon-instagram.svg);
}

.footer a:hover,
.footer a:focus {
  color: hsl(var(--color--ios));
}

.social-media a:hover,
.social-media a:focus {
  background-color: hsl(var(--color--ios));
}

@media (min-width: 1024px) {
  .footer {
    padding-block: 4rem;
    margin-top: 6rem;
  }

  .footer .container {
    flex-direction: row;
    align-items: start;
    --gap__col: 4vw;
  }

  .footer__links {
    flex-grow: 1;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    justify-content: start;
    justify-items: start;
    --gap__col: 4rem;
    --gap__row: 0.6rem;
  }

  .social-media {
    align-self: center;
    --gap__col: 2.4rem;
  }
}
